
/* *************************************************************************************
 # style.css 
 ************************************************************************************ */

/* 10px = 0.625em, 15px = 0.94em, 20px = 1.25em 30px = 1.7vw */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* font-size vw fluid element for fluid typography */
html,body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: calc(12px + 0.390625vw);

} 

p {
  color: #000; 
}

.caption {
  color: #000;   /* 40436d */
  font-weight: normal;
  font-size: 1vw;
}


.card-text {
  font-size: 0.85vw;
}


/* *************************************************************************************
    Media queries 
************************************************************************************* */



/* Mobile friendly */

@media screen and (max-width: 768px) {
  /* styles
  html, body{
    font-size: 1.2vw;
  }

 */

  #client_logos { 
    display: none;
  }

  #logo{
    width: 100%;
  }

  /*
  p {
    font-size: 2vw;
  }
}
*/

@media screen and (max-width: 621px) {
  /* styles
  html, body{
    font-size: 2vw;
  }
   */
  .navbar-nav { 
    display: none;
  }
  #client_logos { 
    display: none;
  }
 #main_heading   {
  width: 100%;
  }
  #logo{
    width: 100%;
  }
  p {
    font-size: 3vw;
  }
}
}
