/* ************************************************************************************
 #  LAYOUT STYLING (Also styled with Bootstrap)                                                       #
 #  10px = 0.625em, 15px = 0.94em, 20px = 1.25em 30px = 1.7vw                              #
 ************************************************************************************ */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* font-size vw fluid element for fluid typography  12px + 0.490625vw*/
html,body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-size: 1.5vw; */
} 

#CCU {
  font-size: 4vw;
}

p {
  color: #000; 
}

a:hover {
  background-color: #8CBA99;
}

figcaption {
  color: #000;   /* 40436d */
  font-weight: normal;
  font-size: 0.5vw;
}

.card-text {
  font-size: 0.85vw;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #4D4F6E !important;
  border: #8CBA99 !important;
}

/* ************************************************************************************
#   MEDIA QUERIES   for Mobile device friendly          
#   Major breakpoints: 1024px, 720px and 320px
**************************************************************************************/


@media screen and (max-width: 1300px) {
  
  html, body{
    font-size: 1.5vw;
  }

  p {
    font-size: 2.5vw;
}

}



@media screen and (max-width: 720px) {
  
  html, body{
    font-size: 2.5vw;
  }

  p {
      font-size: 2.5vw;
  }

  #AFAB {
    font-size: 5.5vw;
  }

  h4 {
    font-size: 3.5vw;
  }

  #CCU {
    font-size: 5vw;
  }

  .navbar-nav { 
    display: none;
  }

  #menSuit {
    display: none;
  }

  #client_logos { 
    display: none;
  }

  #dummy {
    display: none;
  }

  #swatches {
    display: none;
  }

  #handStitching {
    display: none;
  }

  #shirts {
    display:none;
  }

 #main_heading {
  width: 100%;
  }

  #logo {
    width: 100%;
  }

}


@media screen and (max-width: 320px) {

  html, body{
    font-size: 2.5vw;
  }

  p {
      font-size: 3.5vw;
  }

  #AFAB {
    font-size: 5.5vw;
  }

  h4 {
    font-size: 5.5vw;
  }

  #CCU {
    font-size: 10vw;
  }

  .navbar-nav { 
    display: none;
  }

  #menSuit {
    display: none;
  }

  #client_logos { 
    display: none;
  }

  #dummy {
    display: none;
  }

  #swatches {
    display: none;
  }

  #handStitching {
    display: none;
  }

  #shirts {
    display:none;
  }

 #main_heading   {
  width: 100%;
  }

  #logo{
    width: 100%;
  }

}